.servicesContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    margin-bottom: 3rem;
    .servicesTitle{
        font-size: 2.5rem;
        font-family: "open sans";
        font-weight: 700;
        padding-bottom: 3rem;
    }
    
}

